.App {
  text-align: center;
}




.app-title {
  background-color: turquoise;
}

.card{
  margin-left: 20vw;
  margin-right:20vw;
  font-size: calc(10px + 2vmin);
  border:solid grey;
}

.Body{
  background-color: whitesmoke;
}

button{
  background-color: coral;
}


